.venv/
__pycache__
.vscode/
hidden_states/
hidden_states/*
wokspace/
Unofficial_Datasets/
*.png
*.json
*.pt
*.pptx
Trials/
probe_logs/
hparam_results/*
BERT_Results/
Training-Validating_probs_MLP_old.ipynb
results/
Result Trials/
# Python virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Environment/secrets
.env
.env.*

# Python build files
*.egg-info/
dist/
build/